<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <title>Index</title>
    <meta charset="UTF-8"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
    <header th:fragment="header" class="header"> 
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0"> 
            <div class="container">
                <a th:href="@{/}" class="navbar-brand">SpecialBeat</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item px-2"><a class="nav-menu-link nav-link" th:href="@{login.html}">Iniciar Sesion</a></li>
                        <li class="nav-item px-2"><a class="nav-menu-link nav-link" th:href="@{register.html}">Registrarse</a></li>                          
                    </ul>

                    <!-- Dropdown Categorías -->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categorias
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" type="button" href="instrumentos.html">Instrumentos Musicales</a></li>
                            <li><a class="dropdown-item" type="button" href="equipos.html">Equipos de Sonido</a></li>
                            <li><a class="dropdown-item" type="button" href="accesorios.html">Accesorios</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <section id="main-header" class="py-2 bg-info text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1><i class="fas fa-cog"></i>Inicio</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <img src="https://s1.eestatic.com/2023/08/16/elandroidelibre/noticias-y-novedades/787181495_235389103_1706x960.jpg" alt="Anuncios" class="img-fluid" />
            <h3>Anuncios</h3>
            <p>Descripción de los anuncios.</p>
        </div>

        <div class="col-md-4">
            <img src="https://colecciones.lanacion.com.ar/wp-content/uploads/2022/08/mobile-jazz.jpg" alt="Colecciones" class="img-fluid" />
            <h3>Colecciones</h3>
            <p>Descripción de las colecciones.</p>
        </div>

        <div class="col-md-4">
            <img src="https://i1.wp.com/botechnews.com/wp-content/uploads/2022/11/JBL-Promociones-Descuentos-Buen-Fin-202.jpg?fit=792%2C468&ssl=1" alt="Descuentos" class="img-fluid" />
            <h3>Descuentos</h3>
            <p>Descripción de los descuentos.</p>
        </div>
    </div>
</section>

    </header>
    <footer class="bg-info text-white mt-5 p-2">
        <div class="container">
            <div class="col">
                <p class="lead text-center">
                    &COPY; Derechos Reservados
                </p>
            </div>
        </div>
    </footer>
</body>

</html>